* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: #31304d;
}
span {
  color: #7e30e1;
  font-family: "Caveat", cursive;
  font-size: 24px;
}
header {
  width: 100%;
  height: 100px;
  padding: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  border: 1px solid #fff;
  border-radius: 10px;
  position: absolute;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
#menu {
  display: flex;
  gap: 24px;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  transition: 0.4s;
  color: #7e30e1;
}
a:hover {
  background: rgba(0, 0, 0, 0.05);
}
#btn-mobile {
  display: none;
  color: #7e30e1;
}
/*Corpo*/
body {
  background: url(assets/bg.jpg) no-repeat top center/cover fixed; /*SHORTHAND*/
}
/*Primeira seção*/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #banner {
  width: 80%;
  padding: 20px;
  display: grid;
  grid-template-areas: "image title";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(100vh - 100px);
  justify-content: center;
}
#banner .title {
  display: grid;
  place-items: center;
}
#banner .title .card {
  font-size: 1.5em;
  display: grid;
  gap: 18px;
}
#banner .image #mobile {
  display: none;
}
#banner .image {
  display: grid;
  align-items: center;
  justify-content: end;
}
#banner .card .social-medias {
  padding: 10px 0;
  display: flex;
  gap: 32px;
}
.social-medias a i {
  color: #7e30e1;
  padding: 0.5rem;
}
.social-medias a:hover {
  border-radius: 50%;
}

/*Minhas Lojas*/

.my-lojas h2 {
  font-size: 36px;
  padding: 20px 0;
}
.my-lojas {
  background-color: #f3f3f3;
  display: grid;
  place-items: center;
}
.my-lojas .loja {
  height: 100vh;
  display: flex;
  width: 80%;
  padding: 20px;
  gap: 20px;
}
.loja img {
  border-radius: 10px;
}
.loja .llama {
  display: grid;
  align-items: center;
  font-size: 1.5rem;
}
.loja .llama .lacta {
  display: grid;
  gap: 20px;
}
.llama .lacta button {
  width: 141.2px;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background: #7e30e1;
  color: #fff;
  box-shadow: 5px 4px 9px #31304d;
  padding: 14px 24px;
  cursor: pointer;
  transition: 0.4s;
}

/*Fale comigo*/
.contact {
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}
.contact .titleUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 20px 0;
}
.contact #contact {
  width: 80%;
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#contact .my-links {
  display: grid;
  place-items: center;
  font-size: 20px;
}
.my-links a {
  color: #31304d;
  padding-bottom: 20px;
}
.my-links .barra a i {
  color: #7e30e1;
  padding-right: 8px;
}
.send-msg {
  display: grid;
  place-items: center;
}

/*formulario*/
.formulario {
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  font-size: 20px;
}
fieldset {
  display: grid;
  gap: 28px;
  border: none;
}
legend {
  padding-bottom: 28px;
}
input,
textarea {
  font-size: 16px;
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #31304d;
  outline: none;
}
.btnForm {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background: #7e30e1;
  color: #f3f3f3;
  transition: 0.4s;
}
footer {
  background: #f3f3f3;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  #btn-mobile {
    display: block;
  }
  #menu {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 84px;
    right: 0;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #a5a5a585;
    backdrop-filter: blur(4px);
    height: 0;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(234px - 82px);
    visibility: visible;
    overflow-y: hidden;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  /*Corpo*/
  .main #banner {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "image"
      "title";
    left: 0;
  }
  #banner .title {
    font-size: 0.7rem;
  }
  #banner .image img {
    display: none;
  }
  #banner .image #mobile {
    display: block;
  }
  #banner .image {
    justify-content: center;
  }
  #banner .card .social-medias {
    gap: 26px;
    font-size: 22px;
  }
  /*Lojas*/
  .my-lojas img {
    width: 100%;
  }
  .my-lojas .loja {
    flex-direction: column;
    height: 75vh;
  }

  /*Fale Comigo*/
  .contact .titleUs {
    padding: 16px 20px;
    gap: 8px;
    text-align: center;
  }
  .titleUs h2 {
    font-size: 25px;
  }
  .titleUs p {
    font-size: 16.8px;
  }
  #contact {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 158px);
  }
  .formulario {
    font-size: 16.8px;
  }
}
