footer {
  background: var(--bg-white);
  padding: 16px 0;
  font-size: 12px;
}
.container-footer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--bg-transparent);
  padding: 12px 0;
}
.container-footer .copy,
.redes {
  display: flex;
  align-items: center;
}
.container-footer span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  color: var(--color-font);
}
.container-footer .redes {
  display: flex;
  justify-content: end;
  gap: 16px;
  font-size: 18px;
}
#btnTop {
  position: fixed;
  right: 80px;
  bottom: 85px;
  display: none;
  width: auto;
  box-shadow: none;
  padding: 8px;
}
