:root {
  --bg-transparent: rgba(0, 0, 0, 0.05);
  --bg-white: #e5e5e5;
  --color-purple: #a426e0;
  --color-font: #1f1f1f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-font);
  scroll-behavior: smooth;
}
body {
  background: url(../assets/bg.jpg) no-repeat top center/cover fixed; /*SHORTHAND*/
}
