@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap");

:root {
  --size-font-1: 1.1em;
  --color-blue-1: #86b6f6;
  --color-white-1: #f3f3f3;
  --color-white-2: #c6c6c6;
  --color-purple-1: #7e30e1;
  --background-1: rgba(255, 255, 255, 0.1);
  --background-2: rgba(0, 0, 0, 0.05);
  --banner: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/Banner.png) no-repeat right center/cover fixed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.4s;
}
.btn {
  border: 1px solid var(--color-blue-1);
  color: var(--color-blue-1);
  text-transform: uppercase;
  max-width: max-content;
  padding: 10px;
}
.btn:hover,
:focus {
  background: var(--background-2);
}
/*MENU*/

.navbar {
  background-color: var(--background-1);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--color-white-1);
  padding: 8px 0;
  display: grid;
  place-items: center;
  width: 100%;
  position: fixed;
  font-size: var(--size-font-1);
}
a {
  color: var(--color-blue-1);
}
a:hover {
  background: var(--background-2);
}
#nav #menu {
  display: flex;
  gap: 32px;
  padding: 16px 0;
  list-style: none;
}
/*PRIMEIRA SESSÃO*/
#body {
  height: 100vh;
  padding-inline: 16px;
  font-size: 1.3rem;
  color: var(--color-white-1);
  display: grid;
  place-items: center;
  background: var(--banner);
}
#body .card {
  display: grid;
  gap: 22px;
}
.title {
  font-weight: 700;
}
/*SERVIÇOS*/
.services {
  max-height: max-content;
  padding: 16px;
  background: var(--color-white-1);
  color: var(--color-blue-1);
  font-size: var(--size-font-1);
}
.services .title {
  text-align: center;
  padding: 32px 0;
}
.services .container {
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.services .card {
  display: grid;
  text-align: center;
  background: var(--background-2);
  padding: 16px;
  gap: 8px;
  border-radius: 8px;
}
.card #pikachu {
  display: block;
  display: grid;
  justify-content: center;
}
.card i {
  background: var(--background-2);
  display: grid;
  place-items: center;
  padding: 8px;
  border-radius: 50%;
  max-width: max-content;
}
/*PRODUTOS*/
.product {
  background: #fff;
  background: var(--color-white-1);
  max-height: max-content;
  padding: 16px;
  font-size: var(--size-font-1);
}
.product h1,
.subTitle {
  color: var(--color-blue-1);
  text-align: center;
  padding: 16px;
}
.product h1 {
  padding-top: 32px;
}
.product .subTitle {
  padding-bottom: 32px;
}
.container-prod {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.container-prod .card-prod {
  border: 1px solid var(--color-white-2);
  font-weight: 300;
  display: grid;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
}
.container-prod .card-prod img {
  border-radius: 8px;
  width: 100%;
}
.container-prod .card-prod #button {
  border: 1px solid var(--color-blue-1);
  border-radius: 4px;
  color: var(--color-blue-1);
  text-transform: uppercase;
  padding: 10px;
}
footer {
  height: 100px;
  background: var(--color-white-2);
  display: grid;
  align-items: center;
  text-align: center;
  font-weight: 300;
}
